@import "main";
$reminder-color: #59C6DB;
$reminder-darker: #30A9B2;
$linkto-color: #5DB446;
$linkto-darker: #4B8C38;
body {
    background-color: white;
}

.nav {
    background-color: $reminder-color;
}

.navbar-nav {
    float: left;
    color: white;
    li>a {
        &:hover {
            background-color: $reminder-darker;
        }
    }
}

.linkto {
    color: white;
    background: url(../assets/reminder_jumbotron.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 5% {
        top: 15em;
        left: 15%;
        bottom: 15em;
    }
    img {
        width: 23vw;
    }
}

.logo {
    float: left;
}

.mockup {
    img {
        float: right;
        margin-top: -15vh;
        z-index: -1;
        width: 50%;
    }
}

.title {
    color: $reminder-color;
    //    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
}

.content {
    text-align: center;
    padding: 3%;
    &:nth-child(even) {
        border-bottom: 1px solid #EFEFEF;
    }
    p {
        text-align: left;
        width: 80vw;
        padding: 2.5% {
            left: 12%;
            right: 12%;
        }
        ;
        margin: 0 auto;
        color: black;
    }
    img {
        width: 40%;
    }
}

.project_intro {
    background-color: $reminder-color;
    h3,
    p {
        color: white;
    }
}

.prototype,
.final,
.design_process {
    img {
        width: 20%;
        margin: 1%;
    }
    background-color: #FCFCFC;
}

.prev {
    width: 17%;
    padding: 3%;
    a {
        color: $linkto-color;
    }
    .pnword {
        float: right;
        &>p {
            color: gray;
        }
    }
    svg {
        padding-top: 5%;
        float: left;
    }
    &:hover {
        p {
            color: $linkto-color;
        }
    }
}

.next {
    width: 20%;
    padding: 3%;
    a {
        color: gray;
    }
    .pnword {
        text-align: right;
        float: left;
    }
    svg {
        padding-top: 5%;
        float: right;
    }
    &:hover {
        p {
            color: $reminder-color;
        }
    }
}

.left-arrow {
    fill: $reminder-color;
}

.right-arrow {
    fill: $reminder-color;
}

.timeline {
    /* ---- Timeline ---- */
    ol {
        background-color: $reminder-color;
    }
    ol::before,
    ol::after {
        content: "";
        position: absolute;
        top: -0.7vw;
        display: block;
        width: 0;
        height: 0;
        border-radius: 20px;
        border: 1vw solid $reminder-color;
    }
    ol::before {
        left: -1vw;
    }
    ol::after {
        right: -10px;
        border: 10px solid transparent;
        border-right: 0px;
        border-left: 20px solid $reminder-color;
        border-radius: 3px;
    }
    /* ---- Timeline elements ---- */
    li {
        left: 10vw;
        color: $reminder-color;
        &::before {
            border-color: $reminder-color;
        }
    }
}

//talk bubble
.bubble {
    background: $reminder-color;
    p {
        color: white;
        width: 45vw;
    }
    &:after {
        border-color: transparent $reminder-color;
    }
}

.timeline_pic {
    display: none;
}

.persona .content {
    //    height: 200vh;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 6%;
    .card {
        background-color: white;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        padding: 5vh;
        margin: 2.5%;
        cursor: default;
        text-align: left;
        li {
            list-style-type: circle;
            margin-left: 1em;
        }
        img {
            width: 22vh;
            float: left;
        }
        p {
            padding: 0;
            width: auto;
            text-align: left;
            padding-left: 18%;
        }
        h3 {
            text-align: left;
            padding-left: 18%;
            border-bottom: $reminder-color;
            text-decoration: underline;
        }
        &:hover {
            box-shadow: none;
            -ms-transform: translate(2px, 2px);
            /* IE 9 */
            -webkit-transform: translate(2px, 2px);
            /* Safari */
            transform: translate(2px, 2px);
            /* Standard syntax */
        }
    }
}

.end .content {
    background-color: $reminder-color;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    #icon {
        width: 15%;
        margin-left: 15%;
    }
    p {
        float: left;
        padding: 0;
        width: 50%;
        color: white;
    }
}

@media screen and (max-width: 991px) {
    p {
        font-size: 2vh;
    }
    .title h3 {
        font-size: 3vh;
    }
    .timeline_pic {
        display: block;
        width: 100%;
    }
    .linkto {
        width: 100%;
        .mockup {
            width: 100%;
            img {
                float: none;
                position: relative;
                margin: 0 auto;
            }
        }
        .logo {
            img {
                float: none;
                margin: 0 auto;
                padding-top: 35vh;
            }
        }
    }
    .prototype,
    .final {
        img {
            width: 40%;
            margin: 1%;
        }
    }
    .end {
        display: none;
    }
    .next {
        width: 50%;
        padding: 3%;
        a {
            color: gray;
        }
        .pnword {
            text-align: right;
            float: left;
        }
        svg {
            padding-top: 5%;
            float: right;
        }
        &:hover {
            p {
                color: $reminder-color;
            }
        }
    }
    .cardtext li {
        font-size: 2vh;
    }
    .persona .content .card img {
        width: 15vh;
    }
}
